<template name="projects">
    <div class="container" id="projects">
        <h1>projects</h1>
        <p>
            Here is a smattering of my recent projects. They include both side projects
            and projects from my time at Google.
        </p>
    </div>

    {{> gesture }}
    {{> canary }}
    <!-- {{> hackNY }}
    {{> mentat }}
    {{> iamhere }}
    {{> build }}
    {{> particles }}
    {{> hobbit }}
    {{> starbucks }}
    {{> mct }}
    {{> io }}
    {{> ei }} -->

</template>
