<template name="welcome">
    <div class="container" id="welcome">
        <h1>
            hello.
        </h1>
        <p>
            Welcome to my (adrian's) personal site. Here you'll find some background
            information, highlights of past and current projects, and contact information.
        </p>
        <p>
            <strong>background</strong> <br>
            I currently live in New York City where I am a graduate student at
            <a href="http://tech.cornell.edu">Cornell Tech</a> studying Computer Science. Before that, I was at
            Google for nearly four years where I joined a rotational management program called RAMP.
            I spent most of my time working on <a href="">Chrome</a>.
        </p>
        <p>
            And before <i>that</i>, I was an undergraduate student at Columbia. I majored in pure
            Mathematics.
        </p>
        <p>
            <strong>projects</strong><br>
            ...are <a href="/projects">here</a>.<br><br>
            I'm broadly interested in these topics: cryptography, security research,
            machine learning, computer vision, Android and web development.
            <br><br>
            I'm currently learning these technologies: MeteorJS, OpenCV, private
            information retrieval.
        </p>
        <p>
            <strong>contact</strong><br>
            Here is a <a href="">link to my resume</a>. You can reach me at adriansoghoian [at] gmail.com.
        </p>
    </div>
</template>
