<template name="canary">
    <div id="canary" class="container">
        <h2>cyber security@home</h2>
        <p>
            As part of the <a href="http://tech.cornell.edu/programs/masters-programs/meng-in-computer-science">
            Cornell Tech MEng</a> curriculum, I had the opportunity
            to do a project for / in conjunction with an NYC-based company. I worked with
            <a href="http://canary.is">Canary</a>, a security company that developes smart home security
            products (think Nest for security).
        </p>
        <p>
            The project task was to build software targeting Raspberry Pi devices that
            can automatically help secure a home network.
        </p>
        <p>
            We built a program that scans a home network and 'fingerprints' all the devices on
            the network. It then conducts a port scan for each individual device, and looks up associated, known
            vulnerabilities for each device. It also mounts an attack on the router's administration page
            using a headless browser (trying to login and access the console).
        </p>
        <p>
            The git repo is <a href="https://github.com/adriansoghoian/security-at-home">here</a>.
        </p>
    </div>

</template>
