<template name="gesture">
    <div id="gesture" class="container">
        <h2>gestureAuth</h2>
        <p>
            gestureAuth explores whether current smartwatches could be used
            as a biometric authentication device.
        </p>
        <p>
            As the current Android Wear watches do not expose a raw EKG signal, we
            took an accelerometer-based approach. Users could define a motion pattern (think:
            drawing a pattern-8 with the air while wearing a watch) and the watch would recognize
            their attempts to replicate it.
        </p>
        <p>
            We used Android Wear as our development platform and built a recognition algorithm
            based on <a href="http://en.wikipedia.org/wiki/Dynamic_programming">dynamic programming</a>.
            <a href="https://github.com/adriansoghoian/wear-auth">Git repo.</a>
        </p>
    </div>

</template>
