body {
    font-size: 12px;
    line-height: 1.4;
    background-color: white;
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
}

body a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

body a:hover {
    color: black;
    font-weight: bold;
    text-decoration: underline;
}

.container {
    color: black;
    border: 1px solid #c5c5c5;
    padding: 10px;
    box-shadow: 1px 1px 1px 1px #e0e0e0;
    border-radius: 3px;
}

#welcome {
    width: 67%;
    margin: 0 auto;
    margin-top: 15%;
}

#projects {
    width: 67%;
    margin: 0 auto;
    margin-top: 10%;
}

#gesture {
    width: 67%;
    margin: 0 auto;
    margin-top: 2%;
}

#canary {
    width: 67%;
    margin: 0 auto;
    margin-top: 2%
}
